__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints
*/.ipynb_checkpoints/*
setyana-dev-testing.ipynb

.vscode/
.idea/
.sandbox/

output/
!output/serving_model/

pipelines/

*.log
pipeline_run.log

.env
